<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:contest="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

    <contest:property-placeholder location="application.properties"/>

    <bean id="Person"
          class="com.peaksoft.spring.Person">
        <property name="animals" ref="Animals"/>
        <property name="name" value="${person.name}"/>
        <property name="age" value="${person.age}"/>
    </bean>

    <bean id="Animals"
          class="com.peaksoft.spring.Horse">
        <property name="name" value="${horse.name}"/>
        <property name="breed" value="${horse.breed}"/>
        <property name="age" value="${horse.age}"/>
        <property name="color" value="${horse.color}"/>
    </bean>

    <bean id="Person1"
          class="com.peaksoft.spring.Person">
        <property name="animals" ref="Animal"/>
        <property name="name" value="${person1.name}"/>
        <property name="age" value="${person1.age}"/>
    </bean>

    <bean id="Animal"
          class="com.peaksoft.spring.Cow">
        <property name="name" value="${cow.name}"/>
        <property name="breed" value="${cow.breed}"/>
        <property name="age" value="${cow.age}"/>
        <property name="color" value="${cow.color}"/>
    </bean>

</beans>